body {
    font-family: Arial, sans-serif;
    background-color: #eeb3b3;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #c6a8a8;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container p {
    text-align: justify;
}

h1 {
    text-align: center;
}

.converter {
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.buttons {
    text-align: center;
    margin-bottom: 10px;
}

.buttons button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f2f0f0;
    font-weight: bold;
}

.buttons button:hover {
    background-color: #f8f6f6;
}

#conversionInfo {
    display: none;
    margin-top: 20px;
}

#conversionInfo h2 {
    margin-bottom: 10px;
}

#conversionInfo p {
    margin-bottom: 10px;
}
